<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.memorialcarnauba">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icone_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Carnauba"
            android:label="@string/Carnauba"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Contatos"
            android:label="@string/contatos"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Acaap"
            android:label="@string/ACAAP"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".QuemSomos"
            android:label="@string/label_QuemSomos"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>